# Uses mysql for all dbs

development:
  adapter: mysql2
  database: bigbluebutton_rails_dev
  username: bbbrails
  password: bbbrails
  host: dev_db
  # socket: /var/run/mysqld/mysqld.sock

test: &test
  adapter: mysql2
  database: bigbluebutton_rails_test
  username: bbbrails
  password: bbbrails
  host: test_db
  # socket: /var/run/mysqld/mysqld.sock

# production:
#   adapter: mysql2
#   database: bigbluebutton_rails_production
#   username: root
#   password: daileon
#   socket: /var/run/mysqld/mysqld.sock

cucumber:
  <<: *test
