# maximum wait until the bot starts (secs)
timeout_bot_start: 60

servers:
  bbb-dev-07:
    salt: 'your-salt'
    url: 'http://your-server/bigbluebutton/api'
    version: '0.9'
  test-install-09:
    salt: '8cd8ef52e8e101574e400365b55e11a6'
    url: 'http://test-install.blindsidenetworks.com/bigbluebutton/api'
    version: '0.9'
