debug: false
servers:
  bbb-dev-07:
    salt: 'your-salt'
    url: 'http://your-server/bigbluebutton/api'
    version: '0.7'
  test-install-08:
    salt: '8cd8ef52e8e101574e400365b55e11a6'
    url: 'http://test-install.blindsidenetworks.com/bigbluebutton/api'
    version: '0.8'
    mobile_salt: '03b07' # needed for >= 0.8
