<h1>Edit <%= BigbluebuttonRecording.model_name.human %>:</h1>
<%= render 'form' %>

<%= link_to 'Show', bigbluebutton_recording_path(@recording) %> |
<%= link_to 'Back', bigbluebutton_recordings_path %>
