finish_meetings:
  every:
    - "5m"
  class: BigbluebuttonFinishMeetingsWorker
  description: "Checks for meetings that finished and mark as finished. Same as 'rake bigbluebutton_rails:meetings:finish'."

get_stats:
  every:
    - "12h"
  class: BigbluebuttonGetStatsForRecentWorker
  description: "Gets stats for recent meetings that have no stats yet. Same as 'rake bigbluebutton_rails:meetings:get_stats' but for only a subset of meetings."

update_recordings:
  every:
    - "30m"
  class: BigbluebuttonUpdateRecordingsWorker
  description: "Gets the recordings in the server to populate the db. Same as 'rake bigbluebutton_rails:recordings:update'."

update_server_configs:
  every:
    - "1h"
  class: BigbluebuttonUpdateServerConfigsWorker
  description: "Updates the server configs that are stored locally. Same as 'rake bigbluebutton_rails:server_configs:update'."
