<h1>Mobile access to <%= @room.name %></h1>

<div style="text-align:center; width:250px;">
  <a href="<%= @join_url %>"><b>Click here</b><br/>to join from a mobile device</a><br><br/>
  <span>Or scan the code below:</span><br/>
  <img src="<%= qrcode_url(@qrcode_url) %>" style="float:left; border:1px solid #ccc;"/>
</div>


