<h1>Mobile access to <%= @room.name %></h1>

<p>To join the conference from a mobile phone click in the link or scan the QR-code below.<br/>
It uses the protocol "bigbluebutton", so you can associate it to a native mobile application to open the conference.</p>

<img src="<%= qrcode_url(@join_url) %>" style="float:left;border:1px solid #ccc;margin-right:10px;" />
<p><a href="<%= @join_url %>">Click here to join from a mobile phone</a></p>



