<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application', 'jquery.min' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
